<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="contextApplicationContextProvider" class="org.pmedv.core.context.ApplicationContextProvider"></bean>
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>application.properties</value>
		</property>
	</bean>
	
	<!-- 
    <bean id="splashScreen" class="org.pmedv.core.app.SplashScreen">
        <property name="imageResourcePath" value="images/schoko.jpg"/>
        <property name="showProgressLabel" value="true"/>
    </bean> 
	 -->

	<bean id="resourceService" class="org.pmedv.core.services.ResourceServiceImpl"/>
	<bean id="applicationWindowAdvisor" class="org.pmedv.leveleditor.gui.EditorApplicationWindowAdvisorImpl"/>
    <bean id="applicationWindowConfig" class="org.pmedv.core.provider.ApplicationWindowConfigurationProviderImpl"/>
    <bean id="abstractApplicationWindow" class="org.pmedv.core.gui.ApplicationWindow" abstract="true"/>
    <bean id="applicationWindow" class="org.pmedv.core.gui.ApplicationWindow" parent="abstractApplicationWindow"/>
	<bean id="abstractPerspective" abstract="true" class="org.pmedv.core.perspectives.AbstractPerspective"/>
	<bean id="levelEditorPerspective" class="org.pmedv.leveleditor.LevelEditorPerspective" parent="abstractPerspective"/>	

	<bean id="perspectiveProvider" class="org.pmedv.core.provider.ApplicationPerspectiveProviderImpl"/>
    <bean id="menuBarProvider" class="org.pmedv.core.provider.ApplicationMenuBarProviderImpl"/>	
	<bean id="toolBarProvider" class="org.pmedv.core.provider.ApplicationToolbarProviderImpl"/>
	<bean id="abstractController" class="org.pmedv.core.gui.controller.AbstractController" abstract="true"/>		
	
	<bean id="configurer" class="org.pmedv.core.app.PostApplicationStartupConfigurerImpl">
		<constructor-arg ref="perspectiveProvider"/>
	</bean>
	
	<bean id="undoManager" class="javax.swing.undo.UndoManager"/>
	 
</beans>